:root {
  --container: 1170px;
  --grid-gap: 30px;

  --denim-blue: #384d9d;
  --white: #d4d4d4;
  --white-two: #ededed;
  --black-54: rgba(0, 0, 0, 0.54);
  --black--87: rgba(0, 0, 0, 0.87);
  --nice-blue: #136cb2;
}

