@import "../tools/mixins";
@import "../tools/breakpoints";

a{
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  @include transition;
}

.modalTrigger{  cursor: pointer;  }

.text-right   { text-align: right;  }
.text-center  { text-align: center; }
.text-left    { text-align: left;   }

.title-box{
  max-width: 350px;
  &__hidden{
    display: none;
  }
  p{
    display: block;
    font-family: 'MADE Evolve Sans EVO',sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 12px;
    line-height: 48px;
    text-transform: uppercase;
    color: var(--gray);
    strong{
      color: var(--black);
    }
  }
}

.page-title{
  font-family: 'MADE Evolve Sans EVO',sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: black;
}


.app-txt{

}


.image{
  display: block;
  max-width: 100%;
}

.section{
  position: relative;
}

.hidden{
  visibility: hidden;
  display: none;
}

.m-auto{
  display: block;
  margin: auto;
}

.mb-0 {  margin-bottom: 0;    }
.mb-15{  margin-bottom: 15px;  }
.mb-15{  margin-bottom: 15px;  }
.mb-30{  margin-bottom: 30px;  }
.mb-30{  margin-bottom: 30px;  }
.mb-45{  margin-bottom: 45px;  }
.mb-75{  margin-bottom: 75px;  }


.display-table{
  display: table;
  height: 100%;
  width: 100%;
  &__cell{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}
