@font-face {
  font-family: 'Raleway';
  src: local('sans-serif'), url('../fonts/Raleway-Bold.woff2?7567567') format('woff2'),
  url('../fonts/Raleway-Bold.woff?7567567') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('sans-serif'), url('../fonts/Raleway-Black.woff2?7567567') format('woff2'),
  url('../fonts/Raleway-Black.woff?7567567') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('sans-serif'), url('../fonts/Raleway-ExtraBold.woff2?7567567') format('woff2'),
  url('../fonts/Raleway-ExtraBold.woff?7567567') format('woff');
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'MADE Evolve Sans EVO';
  src: local('sans-serif'), url('../fonts/MADEEvolveSansEVO-Bold.woff2?7567567') format('woff2'),
  url('../fonts/MADEEvolveSansEVO-Bold.woff?7567567') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('sans-serif'), url('../fonts/MyriadPro-Regular.woff2?7567567') format('woff2'),
  url('../fonts/MyriadPro-Regular.woff?7567567') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fwx2ax');
  src:  url('../fonts/icomoon.eot?fwx2ax#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?fwx2ax') format('truetype'),
  url('../fonts/icomoon.woff?fwx2ax') format('woff'),
  url('../fonts/icomoon.svg?fwx2ax#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}