@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-Bold.woff2') format('woff2'),
  url('/assets/fonts/Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-Black.woff2') format('woff2'),
  url('/assets/fonts/Raleway-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-ExtraBold.woff2') format('woff2'),
  url('/assets/fonts/Raleway-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}





@font-face {
  font-family: 'MADE Evolve Sans EVO';
  src: url('/assets/fonts/MADEEvolveSansEVO-Bold.woff2') format('woff2'),
  url('/assets/fonts/MADEEvolveSansEVO-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('/assets/fonts/MyriadPro-Regular.woff2') format('woff2'),
  url('/assets/fonts/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


