@import "../tools/mixins";
@import "../tools/breakpoints";

.popup{
  height: 480px;
  @media (max-width: $breakpoint-md){
    height: 300px;
  }
  @media (max-width: $breakpoint-sm){
    height: 200px;
  }
  &__close{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    color: #fff;
  }
}

.video-container{
  height: 480px;
  width: 750px;
  @media (max-width: $breakpoint-md){
    width: 575px;
    height: 300px;
  }
  @media (max-width: $breakpoint-sm){
    width: 320px;
    height: 200px;
  }
}




.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}