
.admin-sidebar{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 4px 14px -1px rgba(0,0,0,0.35);
  &__image{
    display: block;
    height: 75px;
    margin: 15px auto;
  }
  &__list{
    padding: 45px;
  }
  &__item{
    display: block;
    text-align: center;
    margin-bottom: 25px;
  }
  &__link{
    position: relative;
    display: inline-block;
    color: var(--black);
    font-family: Raleway,sans-serif;
    line-height: 24px;
    font-size: 14px;
    font-weight: 800;
    transition: all 0.3s;
    &:hover{
      &:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        width: 20px;
        margin: auto;
        height: 3px;
        background-color: #000;
      }
    }
    &.active{
      &:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        width: 20px;
        margin: auto;
        height: 3px;
        background-color: #000;
      }
    }
  }
}