.admin-header{
  height: 100px;
  padding: 0 30px;
  background-color: var(--gray);
  &__image{
    width: 60px;
    height: 60px;
  }
  &__title{
    color: var(--black);
    font-family: Raleway,sans-serif;
    line-height: 24px;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &__out{
    padding: 2px 8px;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 13px;
    display: block;
    border-radius: 4px;
    color: #fff;
    background-color: #000;
    transition: all .3s;
    &:hover{
      background-color: #e53539;
    }
  }
  &__list{
  }
  &__item{
    display: inline-block;
    text-align: center;
    & + & {
      margin-left: 30px;
    }
  }
  &__link{
    position: relative;
    display: inline-block;
    color: var(--black);
    font-family: Raleway,sans-serif;
    line-height: 24px;
    font-size: 14px;
    font-weight: 800;
    transition: all 0.3s;
    &:hover{
      &:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        width: 20px;
        margin: auto;
        height: 3px;
        background-color: #000;
      }
    }
    &.active{
      &:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        width: 20px;
        margin: auto;
        height: 3px;
        background-color: #000;
      }
    }
  }
}

