
.first-screen{
  height: 100vh;
  position: relative;
  &__coder{
    position: absolute;
    left: calc(50% - 70px);
    top: 15px;
    transform: rotate(-90deg) translateX(-50%);
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 14px;
    letter-spacing: 3px;
  }
  &__content{
    position: absolute;
    left: 50%;
    top: 50%;
    height: calc(100vh - 140px);
    width: 100%;
    transform: translate(-50%, -50%);
    max-width: 920px;
    background: url(page-circle.png) center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  &__title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}