.admin-content{
  position: relative;
  padding: 65px 0;
  &__title{
    color: var(--black);
    font-family: Raleway,sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 45px;
  }
}

.admin-post{
  margin-bottom: 30px;
  &__content{
    background-color: #fff;
    box-shadow: 0 3px 7px 1px rgba(0,0,0,.1);
  }
  &__figure{
    height: 180px;
    position: relative;
    overflow: hidden;
  }
  &__img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) translateZ(0);
    display: block;
    max-width: 100%;
  }
  &__title{
    padding: 0 15px;
    color: var(--black);
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
  }
  &__desc{
    padding: 0 15px;
    font-family: Myriad Pro,sans-serif;
    color: var(--primary-gray);
    font-size: 15px;
    font-weight: 400;
  }
}