@import "../../../assets/styles/tools/breakpoints";

.our-clients{
  padding: 100px 0 75px;
  background-color: var(--black);
  @media (max-width: $breakpoint-sm) {
    padding: 75px 0;
  }
  &__title{
    margin-bottom: 60px;
    p span{
      color: var(--white);
      &.sub{
        color: #2b2b2b;
      }
    }
  }
  &__item{
    height: 115px;
    width: 100%;
    max-width: 185px;
    margin: auto auto 45px;
    background-image: url(./items/clients_sprite.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    &:last-child{
      margin: auto;
    }
    @media (max-width: $breakpoint-sm) {
      margin: auto auto 30px;
      &:last-child{
        margin: auto;
      }
    }
    &.--item1{ background-position: 15px 0; }
    &.--item2{ background-position: -145px 0; }
    &.--item3{ background-position: -335px 0; }
    &.--item4{ background-position: -580px 0; }
  }
}