@import "../../../assets/styles/tools/breakpoints";

.footer{
  padding-top: 60px;
  &__logo{
    display: table;
    margin: auto;
    &:hover{
      svg{
        overflow: visible;
        #logo-path{
          transform-origin: bottom;
          animation-iteration-count: 1;
          animation-duration: 0.45s;
          animation-name: logo-path;
        }
      }
    }
    svg{
      height: 105px;
    }
  }
  &__row{
    @media (max-width: $breakpoint-sm) {
      margin: 0 -7px;
    }
  }
  &__column{
    margin-bottom: 15px;
    @media (max-width: $breakpoint-sm) {
      padding: 0 7px;
      text-align: center;
      margin-bottom: 15px;
    }
  }
  &__txt{
    display: block;
    color: var(--black);
    font-family: 'Raleway',sans-serif;
    line-height: 24px;
    font-size: 14px;
    font-weight: 800;
    @media (max-width: $breakpoint-sm) {
      font-size: 11px;
      font-weight: 400;
    }
    &.--icon{
      font-size: 17px;
    }
    &.--modifier{
      font-size: 12px;
      font-weight: 500;
    }
    &.--title{
      font-size: 16px;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 10px;
      @media (max-width: $breakpoint-sm) {
        font-size: 13px;
      }
    }
  }
  &__link{
    height: 24px;
    width: 24px;
    text-align: center;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    @media (max-width: $breakpoint-sm) {
      text-align: center;
    }
    span{
      display: block;
      line-height: 24px;
      transition: transform .35s;
    }
    &:hover{
      span{
        transform: translateY(-24px);
      }
    }
  }
  &__social{
    margin-bottom: 0;
    li{
      display: inline-block;
    }
    li + li{
      margin-left: 15px;

    }
  }
}

.footer-nav{
  &__item{
    display: block;
    margin-bottom: 5px;
  }
  &__link{
    display: block;
    color: var(--black);
    height: 24px;
    overflow: hidden;
    font-family: Raleway,sans-serif;
    line-height: 24px;
    font-size: 14px;
    font-weight: 800;
    transition: all 0.3s;
    span{
      display: block;
      transition: all 0.3s;
    }
    &:hover{
      span{
        transform: translateY(-24px);
      }
    }
  }
}

.copyright{
  line-height: 36px;
  @media (max-width: $breakpoint-sm) {
    padding-bottom: 45px;
  }
  &__txt{
    font-size: 14px;
    color: #000;
    font-weight: 700;
    text-align: center;
  }
  &__link{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 3px;
  }
}

.iubenda-ibadge{
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}