

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway-ExtraBold.woff2') format('woff2'),
  url('/Raleway-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway-Bold.woff2') format('woff2'),
  url('/Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway-Black.woff2') format('woff2'),
  url('/Raleway-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'MADE Evolve Sans EVO';
  src: url('/MADEEvolveSansEVO-Bold.woff2') format('woff2'),
  url('/MADEEvolveSansEVO-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('/MyriadPro-Regular.woff2') format('woff2'),
  url('/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//
//@font-face {
//  font-family: 'icomoon';
//  src:  url('/src/fonts/icomoon.eot?jivfck');
//  src:  url('/src/fonts/icomoon.eot?jivfck#iefix') format('embedded-opentype'),
//  url('/src/fonts/icomoon.ttf?jivfck') format('truetype'),
//  url('/src/fonts/icomoon.woff?jivfck') format('woff'),
//  url('/src/fonts/icomoon.svg?jivfck#icomoon') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}
