@import "../tools/mixins";
@import "../tools/breakpoints";


.hamburger{
  position: absolute;
  right: 0;
  top: 0;
  &__content{}
  &__caption{}
  &__inner{
    position: absolute;
    &, &:before, &:after{
      position: absolute;
      height: 2px;
    }
    &:before, &:after{
      content: '';
    }

  }
  &__{}
}