@import "../../../assets/styles/tools/breakpoints";

.hamburger{
  position: absolute;
  right: 15px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  @media (min-width: 1440px) {
    right: 60px;
  }
  @media (max-width: $breakpoint-sm) {
    transform: none;
    top: 12px;
  }
  &:hover{
    .hamburger__caption{
      span{
        transform: translateY(-18px);
      }
    }
    .hamburger__inner{
      i{
        span{
          &:nth-child(1){
            -webkit-animation-name: hamburger_1;
            animation-name: hamburger_1;
          }
          &:nth-child(2){
            -webkit-animation-name: hamburger_2;
            animation-name: hamburger_2;
          }
        }
      }
    }
  }
  &.is-open{
    .hamburger__caption{
      span{
        transform: translateY(-36px);
        color: #fff;
      }
    }
    .hamburger__inner{
      i{
        &:nth-child(1){
          transform: rotate(45deg);
          top: 12px;
        }
        &:nth-child(4){
          transform: rotate(-45deg);
          top: 12px;
        }
         &:nth-child(2), &:nth-child(3){
           transform: translateX(50px);
           opacity: 0;
         }
        span{
          background-color: #fff;
        }
      }
    }
  }
  &__content{
    width: 40px;
    height: 60px;
    position: relative;
  }
  &__caption{
    position: absolute;
    left: 0;
    right: 0;
    top: 45px;
    height: 18px;
    text-align: center;
    overflow: hidden;
    @media (max-width: $breakpoint-sm) {
      top: 35px;
    }
    span{
      display: block;
      line-height: 18px;
      font-size: 13px;
      font-weight: 700;
      color: var(--black);
      text-transform: uppercase;
      transition: all 0.2s ease-out;
    }
  }
  &__inner{
    i{
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      width: 40px;
      height: 1px;
      overflow: hidden;
      transition: all 0.25s ease-out;
      span{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--black);
        animation-duration: .5s;
        &:nth-child(2){
          transform: translateX(15px);
        }
      }
    }
    i:nth-child(1){
      top: 0;
      span{
        animation-delay: 0ms;
      }
    }
    i:nth-child(2){
      top: 8px;
      span{
        animation-delay: 75ms;
      }
    }
    i:nth-child(3){
      top: 16px;
      transition-delay: 75ms;
      span{
        animation-delay: .15s;
      }
    }
    i:nth-child(4){
      top: 24px;
      span{
        animation-delay: .225s
      }
    }
  }
}