@import "../../../assets/styles/tools/breakpoints";

.coder-head{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 9;
  background-color: #fff;
  box-shadow: 0 0 20px -8px rgba(0,0,0,0.3);
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  &.--white{
    .header__logo{
      img,svg{
        transform: translateY(-100%);
      }
    }
    .hamburger__caption{
      span{
        color: #fff;
      }
    }
    .hamburger__inner i span{
      background-color: #fff;
    }
  }

  &__container{
    position: relative;
    max-width: 1920px;
    padding: 0 45px;
    @media (max-width: $breakpoint-xl) {
      padding: 0 15px;
    }
    @media (max-width: $breakpoint-sm) {
      height: 70px;
    }
  }
  &__row{
    height: 60px;
  }
  &__logo{
    display: block;
    left: 15px;
    top: 25px;
    width: 175px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    @media (max-width: 991px) {
      width: 75px;
    }
    @media (max-width: $breakpoint-sm) {
      top: 11px;
    }
    img{
      display: none;
      height: 50px;
      transition: all 0.3s;
    }
    svg{
      display: block;
      height: 50px;
      transition: all 0.3s;
    }
    @media (min-width: 991px) {
      left: 60px;
      img{
        display: block;
      }
      svg{
        display: none;
      }
    }
  }
  &__list{
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
  &__list-item{
    display: inline-block;
    & + & {
      margin-left: 30px;
    }
  }
  &__list-link{
    display: block;
    transition: all .3s;
    color: var(--black);
    height: 24px;
    overflow: hidden;
    font-family: Raleway,sans-serif;
    line-height: 24px;
    font-size: 14px;
    font-weight: 800;
    span{
      display: block;
      transition: all .3s;
    }
    &:hover{
      span{
        transform: translateY(-24px);
      }
    }
  }
}

.pageScreen{
  height: 100vh;
}