@import "../../../assets/styles/tools/breakpoints";

.menu{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 8;
  background-color: var(--black);
  display: none;
  &__content{
    position: relative;
    height: 100vh;
    counter-reset: item2;
  }
  &__list{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    counter-reset: item1;
  }
  &__item{
    overflow: hidden;
    margin-bottom: 30px;
    @media (max-width: $breakpoint-md){
      margin-bottom: 20px;
    }
    @media (max-width: $breakpoint-sm){
      margin-bottom: 5px;
    }
  }
  &__link{
    display: block;
    position: relative;
    overflow: hidden;
    padding-left: 95px;
    text-align: right;
    color: var(--primary-gray);
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 30px;
    font-weight: 800;
    transition: all 0.3s;
    @media (max-width: $breakpoint-md){
      font-size: 28px;
      padding-left: 60px;
    }
    @media (max-width: $breakpoint-sm){
      font-size: 20px;
    }
    &:before{
      counter-increment: item1;
      content: "0" counter(item1);
    }
    &:before, &:after{
      position: absolute;
      width: 30px;
      height: 30px;
      left: 0;
      top: 0;
      color: var(--primary-gray);
      font-size: 24px;
      font-family: 'Raleway', sans-serif;
      font-weight: 800;
      transition: all 0.3s;
      @media (max-width: $breakpoint-sm){
        font-size: 20px;
      }
    }
    &:after{
      counter-increment: item2;
      content: "0" counter(item2);
      color: #fff;
      transform: translateY(45px);
    }
    &:hover{
      color: #fff;
      &:before{
        transform: translateY(-45px);
      }
      &:after{
        transform: translateY(0);
      }
    }
  }
}


.menu-soc{
  position: absolute;
  bottom: 30px;
  left: 15px;
  right: 15px;
  @media (max-width: $breakpoint-sm){
    bottom: 15px;
  }
  &__item{
    overflow: hidden;
    height: 30px;
    text-align: center;
  }
  &__link{
    display: inline-block;
    color: var(--primary-gray);
    font-family: 'Raleway',sans-serif;
    line-height: 30px;
    font-size: 16px;
    font-weight: 800;
    height: 30px;
    overflow: hidden;
    @media (max-width: $breakpoint-sm){
      font-size: 13px;
    }
    span{
      display: block;
      line-height: 30px;
      transition: transform .35s;
    }
    &:hover{
      span{
        transform: translateY(-30px);
      }
      span:nth-child(2){
        color: #fff;
      }
    }
  }
}