
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  &.--white{
    .header__logo{
      img{
        transform: translateY(-100%);
      }
    }
    .hamburger__caption{
      span{
        color: #fff;
      }
    }
    .hamburger__inner i span{
      background-color: #fff;
    }
  }
  &__container{
    position: relative;
    height: 100px;
    @media (min-width: 1920px) {
      max-width: 1920px;
    }
  }
  &__logo{
    display: block;
    position: absolute;
    left: 15px;
    top: 25px;
    width: 175px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    @media (min-width: 1920px) {
      left: 60px;
    }
    img{
      transition: all 0.3s;
    }
  }
}

.pageScreen{
  height: 100vh;
}