
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  &__container{
    position: relative;
    height: 100px;
  }
  &__logo{
    position: absolute;
    left: 15px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
  }
}

.pageScreen{
  height: 100vh;
}