@import "../../assets/styles/tools/breakpoints";

.coder-head{
  @media (max-width: $breakpoint-sm) {
    position: fixed;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 7;
    background-color: #fff;
    box-shadow: 0 0 20px -8px rgba(0,0,0,0.3);
  }
}


.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  &.--white{
    .header__logo{
      img,svg{
        transform: translateY(-100%);
      }
    }
    .hamburger__caption{
      span{
        color: #fff;
      }
    }
    .hamburger__inner i span{
      background-color: #fff;
    }
  }

  &__container{
    position: relative;
    height: 100px;
    max-width: 1920px;
  }
  &__logo{
    display: block;
    position: absolute;
    left: 15px;
    top: 25px;
    width: 175px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    img{
      display: none;
      height: 50px;
      transition: all 0.3s;
    }
    svg{
      display: block;
      height: 50px;
      transition: all 0.3s;
    }
    @media (min-width: 1440px) {
      left: 60px;
      img{
        display: block;
      }
      svg{
        display: none;
      }
    }

  }
}

.pageScreen{
  height: 100vh;
}