@import "../../assets/styles/tools/breakpoints";

.footer{
  padding: 60px 0;
  @media (max-width: $breakpoint-sm) {
    padding: 30px 0;
  }
  &__logo{
    display: block;
    height: 105px;
    margin: auto;
    max-width: 100%;
    @media (max-width: $breakpoint-sm) {
      margin: auto auto 30px auto;
    }
  }
  &__privacy-policy{
    text-align: center;
    display: block;
  }
  &__row{
    @media (max-width: $breakpoint-sm) {
      margin: 0 -7px;
    }
  }
  &__column{
    margin-bottom: 15px;
    @media (max-width: $breakpoint-sm) {
      padding: 0 7px;
      text-align: center;
    }
  }
  &__txt{
    display: block;
    color: var(--black);
    font-family: 'Raleway',sans-serif;
    line-height: 24px;
    font-size: 14px;
    font-weight: 800;
    @media (max-width: $breakpoint-sm) {
      font-size: 11px;
      font-weight: 400;
    }
    &.--title{
      font-size: 16px;
      font-weight: 900;
      text-transform: uppercase;
      @media (max-width: $breakpoint-sm) {
        font-size: 13px;
      }
    }
  }
  &__link{
    height: 24px;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    @media (max-width: $breakpoint-sm) {
      text-align: center;
    }
    span{
      display: block;
      line-height: 24px;
      transition: transform .35s;
    }
    &:hover{
      span{
        transform: translateY(-24px);
      }
    }
  }
}

