
.editor-images-list{
  border-radius: 5px;
  padding: 15px 5px 45px 5px;
  border: 1px dashed var(--gray);
  position: absolute;
  width: 300px;
  height: 300px;
  right: 30px;
  bottom: 95px;
  &__item{
    position: relative;
    font-size: 12px;
    word-break: break-word;
    line-height: 18px;
    background: #e8e7e7;
    color: #000;
    padding: 3px 30px 3px 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    span{
      display: block;
    }
  }
  &__remove{

  }
  &__btn{
    position: absolute;
    bottom: 10px;
    width: 150px;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 3px;
    background-color: #329c0d;
    color: #fff;
    line-height: 28px;
    cursor: pointer;
    font-size: 14px;
  }
}