@import "../../../assets/styles/tools/breakpoints";

.testimonials{
  position: relative;
  padding: 95px 0 60px 0;
  @media (max-width: $breakpoint-sm) {
    padding: 60px 0 30px 0;
  }
  &__title{
    margin-bottom: 45px;
  }
}


.quote-client{
  &__content{
    position: relative;
    min-height: 175px;
    padding-left: 200px;
    margin-bottom: 30px;
    @media (max-width: $breakpoint-sm) {
      padding-left: 0!important;
      padding-right: 0!important;
      padding-top: 200px!important;
      text-align: left!important;
    }
    img{
      position: absolute;
      left: 0;
      top: 1px;
      max-width: 175px;
      @media (max-width: $breakpoint-sm) {
        left: 0!important;
        right: initial!important;
      }
    }
    &.--right{
      padding-left: 0;
      padding-right: 200px;
      text-align: right;
      img{
        position: absolute;
        left: initial;
        right: 0;
      }
      .quote-client__name{
        padding-right: 0;
        padding-left: 45px;
      }
      .quote-client__link{
        right: initial;
        left: 0;
      }
    }
  }
  &__name{
    position: relative;
    padding-right: 45px;
    display: inline-block;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--black);
    font-family: "Raleway", sans-serif;
    margin-bottom: 15px;
    @media (max-width: $breakpoint-sm) {
      padding-right: 45px!important;
      padding-left: 0!important;
    }
  }
  &__link{
    position: absolute;
    right: 0;
    top: 2px;
    display: block;
    height: 16px;
    overflow: hidden;
    @media (max-width: $breakpoint-sm) {
      right: 0!important;
      left: initial!important;
    }
    span{
      display: block;
      font-size: 16px;
      color: #006097;
      transition: all 0.3s;
    }
    &:hover{
      span{
        transform: translateY(-16px);
      }
    }
  }
  &__txt{
    color: var(--primary-gray);
    font-family: "Myriad Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
  }
}