.error-page{
  height: 100vh;
  min-height: 400px;
  &__title{
    line-height: 150px;
    font-size: 150px;
    @media (max-width: 575px) {
      line-height: 90px;
      font-size: 90px;
    }
  }
  &__txt{
    line-height: 48px;
    font-size: 36px;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 36px;
    }
  }
  &__title, &__txt{
    text-align: center;
    display: block;
    font-family: 'MADE Evolve Sans EVO',sans-serif;
    letter-spacing: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--black);
  }
}